<!DOCTYPE HTML>
<html>
  <head>
    <title>Controller</title>
    <link rel="stylesheet" type="text/css" href="/quimica/controller/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
  		<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
      <div class="code-show">
        <input type="number" id="code" placeholder="You Code">
        <button id="send">Enviar</button>
         <!-- <iframe style="width:100%; height: 82vh; border-style: none;" id="gameviewer" src="/quimica/gamecontroller.html"></iframe> -->
      </div>
      <script language="javascript">
        const socket = io.connect('http://localhost:3000');
        // const frame = document.getElementById('gameviewer');
        socket.emit('join',{type:'controller',connect: true});
        socket.on('disconnect',()=>{
            // frame.src = 'https://imac-services.tk/';
        });
        socket.on('remove-connection',(data)=>{
          alert("CONEXÃO FECHADA");
        })
        function hello() {
            return socket;
        }
        const code = document.getElementById('code');
        document.getElementById('send').addEventListener('click',()=>{
          socket.emit('new-controller',{code:code.value});
          console.log();
        })
      </script>
  </body>
</html>