<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style type="text/css">
    	nav {
    		margin-bottom: 2px;
    	}
    </style>
</head>
<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Logo</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li style="margin-right: 20px;" id="code"></li>
	      </ul>
	    </div>
  	</nav>
    <!-- <iframe style="width:100%; height: 82vh; border-style: none;" id="gameviewer" src="/quimica/gameviewer.html"></iframe> -->
    <footer>
        OIOI
    </footer>
    <script language="javascript">
        const socket = io.connect('http://localhost:3000');
        const frame = document.getElementById('gameviewer');
        socket.emit('join',{type:'screen',connect: true});
        socket.on('screen-code',(data)=>{
            document.getElementById('code').innerHTML = `<b>YOU CODE: ${data.Code}</b>`;
        })
        socket.on('disconnect',()=>{
            // frame.src = 'https://imac-services.tk/';
        });
        socket.on('player-connect',(data)=>{
            // PAGINA PARA MOSTRAR OS JOGADORES(TIPO PERFIL DELES E ETC)
            // frame.src = 'https://www.uol.com';
            console.log(data);
        })
        function hello() {
            return socket;
        }
    </script>
</body>
</html>