<!DOCTYPE html>
<html lang="ptbr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="https://cdn.imac-group.cf/images/imaf.ico" type="image/x-icon">
    <title>Documento</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <style type="text/css">
      nav {
        margin-bottom: 2px;
      }
    </style>
  </head>
  <body>
    <script src="https://cdn.imac-group.cf/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="quimica/js/sweetjs.js"></script>
    <script type="text/javascript" src="https://airgames.tk/quimica/js/popup.js"></script>
    <script src="https://airgames.tk/quimica/screen/index.js"></script>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" id="code"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
      </div>
    </nav>
    <iframe
      style="width:100%; height: 82vh; border-style: none;"
      id="gameviewer"
      src="/quimica/gameviewer.html"
    ></iframe>
  </body>
</html>
